/* #region Сброс */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* #endregion Сброс*/

/* #region Общее */
:root {
    --font-family: "Roboto", sans-serif;
}

.container--common {
    max-width: 1484px;
    /* 1440+22+22=1484 */
    padding: 10px 22px;
    margin: 0 auto;
}

img {
    /*  Адаптивное изображение */
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

/* #endregion Общее */

/* #region Header */
.header {}

.section--header-01 {
    background-color: #b36050;
    padding: 10px;
}

.header-01__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #f1d3b9;
}

.section--header-02 {
    background: #f6f4ec;

}

.header-02--container {
    min-height: 71px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav {}

.header__nav--ul {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center
}

.header__nav--li {
    list-style: none;
}

.header__nav-a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #b4604d;
}

.logo {}

.logo--a {}

.header-02__account-block {
    display: flex;
    align-items: center;
}

.header-02__a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #b45f4d;
    text-decoration: none;
    margin-right: 20px;
}

.header-02__icon {
    margin-right: 5px;
}

.header-02__basket-sum {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #b4604d;
}

/* #endregion Header */

/* #region Section 01 */
.section--01 {}

.section--01__content {
    background-image: url(../img/Section01-bgd-.png);
    min-height: 435px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 56px;
}

.section--01__btn-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 128px;
    height: 48px;
    background: #b45f4d;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 169%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

/* #endregion Section 01 */

/* #region Section 02 */
.section--02 {
    display: flex;
    flex-direction: column;
    min-height: 304px;
    background: #a9ae8d;
    padding: 70px;

}

.section--02__h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #f6f4ec;
    margin-bottom: 13px;
}

.section--02__h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 33px;
    line-height: 194%;
    color: #f6f4ec;
    margin-bottom: 30px;
}

.section--02__a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #f6f4ec;
    text-decoration: none;
}

/* #endregion Section 02 */

/* #region Section 03 */
.section--03 {
    min-height: 835px;
    background: #f6f4ec;
    padding: 38px;
}

.section--03__h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    text-transform: capitalize;
    text-align: center;
    color: #b45f4d;

    margin-bottom: 46px;
}

.section--03__item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 79px;
    row-gap: 20px;
}

.section--03__item {}

.section--03__img {
    margin-bottom: 5px;
}

.section--03__item-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #b45f4d;
    margin-bottom: 7px;
}

.section--03__item-price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #b45f4d;
}

/* #endregion Section 03 */

/* #region Section 04 */
.section--04 {
    padding: 24px;
    margin-bottom: 25px;
}

.section--04__whole-block {
    background-image: url(../img/Section04-bgd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 1219px;
    width: 100%;
    min-height: 414px;

    margin: 0 auto;

    display: flex;
    align-items: end;
}

.section--04__bottom-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #DF9B7A;
    width: 100%;
    min-height: 92px;
    padding: 30px;
}

.section--04__bottom-block--p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #f6f4ec;
}

.section--04__bottom-block--a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #f6f4ec;
    text-decoration: none;
}

/* #endregion Section 04 */

/* #region Section 05 */
.section--05 {
    background: #f1d3b9;
}

.section--05__container {
    min-height: 1070px;
    padding-top: 60px;
    padding-bottom: 60px;

    padding-left: clamp(20px, 12.708vw, 183px);
    /* padding-left: 183px; */

    padding-right: clamp(20px, 10.903vw, 157px);
    /* padding-right: 157px; */

    max-width: 1440px;
    margin: 0 auto;
}

.section--05__whole-block {
    background-image: url(../img/Section05-bgd.png);
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: end;
    min-height: 947px;

}

.section--05__inner-block {
    max-width: 518px;
    background: #f8f8f8;
    align-self: center;

    padding: 50px;
    min-height: 582px;
    margin-top: 85px;
}

.section--05__h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 192%;
    color: #b45f4d;
    text-align: center;
    margin-bottom: 23px;
}

.section--05__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 160%;
    color: #b45f4d;
    margin-bottom: 41px;
}

.section--05__a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #b45f4d;
    text-decoration: none;
}

/* #endregion Section 05 */

/* #region Section 06 */
.section--06 {
    padding-top: 24px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    background-color: #b4604d;
}

.section--06__h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin-bottom: 50px;
}

.section--06__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.section--06__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

/* #endregion Section 06 */

/* #region Footer */
.footer {
    background: #f6f4ec;
    min-height: 401px;
}

.footer__container {
    padding: 60px 50px;
}

.footer__horizontal-block {
    display: flex;
    margin-bottom: 129px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__left-side {}

.footer__a {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #b45f4d;
    text-decoration: none;
    margin-bottom: 12px;
}

.footer__center {}

.footer__right-side {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #c17c6c;
    padding-right: 115px;
}

.footer__copy {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #c17c6c;
}

.footer__right-side-p1 {
    margin-bottom: 20px;
}

.footer__right-side-p2 {}

.footer__right-side-address {
    font-style: normal;
}

/* #endregion Footer */